.callout
  -# TODO: channel header
  %p
    %img{:alt => "image of a planet called Pegasi B", :src => "http://placehold.it/400x370&text=Pegasi B"}/
  %p
    %strong= @user.username
    
  -# TODO: channel nav bar 