.callout
  %h5 Upload
  %hr{style: "margin: 15px -15px 20px -15px"}
  
  = form_for @video do |f|
    = f.file_field :video, class: 'file-input', style: "margin-bottom: 5px;"
    = f.hidden_field :channel_id, value: current_user.channel.id
    -# .button.file-upload
      Choose File