.row
  .show-for-large.large-3.columns.padding-right-small
    %img.thumbnail{:alt => "", :src => "http://placehold.it/256x144"}/
  .large-9.columns
    %h1.title= video.title
    %p
      Posted by
      = link_to channel_path(video.user) do
        = video.user.username
    %p= video.stats
    