.row
  .show-for-large.large-3.columns.padding-right-small
    %img.thumbnail{:alt => "", :src => "https://dummyimage.com/256x144/000/fff&text=video"}/
  #video-info.large-9.columns
    %h1.title= video.title
    %p
      = link_to channel_path(video.channel) do
        = video.channel.channel_name
    %p= video.stats
    