.callout
  #profile-banner
    #banner.remove-padding
      %img{:alt => "image of a planet called Pegasi B", :src => @channel.banner.url}

  #profile-header
    %h2.channel-name
      %strong= @user.username
    #subscribe
      = sub_button_helper
      .sub-count
        .callout
          = number_with_delimiter(@sub_count)

  = channel_nav_helper