= render "header"

.callout
  .row.small-up-2.medium-up-3.large-up-5
    - @videos.each_with_index do |video, index|
      = render 'shared/video_preview_small', video: video
      - unless index == @videos.size - 1
        %hr