-# .row
  .panel.small-12.column
    %h2
      %img.thumbnail{:alt => "", :src => "http://placehold.it/224x126"}/
      Video title
.row
  .show-for-large.large-3.columns.padding-right-small
    %img.thumbnail{:alt => "", :src => "http://placehold.it/256x144"}/
  .large-9.columns
    %h1.title Cool video title
    %p Posted by replace this with username
    %p views and day ago posted
    