.callout
  %h5= is_logged_in? ? "Subscriptions" : "Most viewed"
  %hr{style: "margin: 15px -15px 20px -15px"}
  
  - @videos.each_with_index do |video, index|
    = render 'shared/video_preview', video: video
    - unless index == @videos.size - 1
      %hr{style: "margin: 10px 0px 20px 0px"}