/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require video-js
 *= require channel

 */
body {
  background: #F0F0F3;
}

#content {
  margin-top: 15px;
}

.login-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px 10px 20px;
  margin-bottom: 15px;
}

.flashes {
  margin-bottom: -20px;
}

.error-container {
  padding: 5px 0px 5px 0px;
}

.top-bar {
  ul {
    li a {
      padding: 5px 16px 5px 16px;
    }
  }
}

.skinny {
  height: 30px;
  padding: 0px 8px 0px 8px;
}

.small-input {
  width: 35%;
  float: left;
  display: inline-block;
}

.unique-input {
  width: 65%;
  margin-left: -1px;
  display: inline-block;
}